body {
  margin: 0;
  background-color:#00b7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
}

a {
  color: #ffB700;
}

#canvas {
  height: 100dvh;
  border-radius: 20px;
  margin-top: 25px;
  z-index: 10;
}
.salir{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

/* Montior and Larger */
@media screen and (min-width: 1800px) {
  #canvas {
    margin-top: 100px;
  }
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  #canvas {
    width: 75%;
    height: 95dvh;
    margin-top: 50px;
  }
}